/* Timeline Section Styles */
.timeline-section {
  min-height: 100vh;
  padding-top: 50px;
  overflow: auto; /* Ensure scrolling is enabled */
  
}
@media (max-width: 768px) {
  .timeline-section {
    padding-top: 10px;
  }
}

/* General Heading Styles */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Link Styles */
a {
  transition: all 0.2s ease-in-out;
  color: #504b9f;
}
a:hover, a:focus {
  text-decoration: none;
  color: #00302c;
}

/* Timeline Section Heading */
.timeline-sectionHeading {
  margin-bottom: 20px;
  color: #504b9f;
}

/* Selection Styles */
::-moz-selection {
  background: rgba(224, 224, 224, 0.2);
  text-shadow: none;
}
::selection {
  background: rgba(224, 224, 224, 0.2);
  text-shadow: none;
}
img::-moz-selection, img::selection {
  background: transparent;
}

/* Shadow Effect for Timeline Items */
.timeline-shadow-nohover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Timeline Animation */
@-webkit-keyframes timeline-animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes timeline-animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@-webkit-keyframes timeline-rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}
@keyframes timeline-rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}

/* Timeline Experience Styles */
.timeline-experience {
  border-left: 3px solid #504b9f;
  padding: 0 30px;
  margin-left: 185px;
}
@media (max-width: 767px) {
  .timeline-experience {
    margin-left: 0;
    padding-right: 0;
  }
}
.timeline-experience .timeline-item {
  position: relative;
  margin-bottom: 40px;
}
.timeline-experience .timeline-item::before {
  content: "";
  position: absolute;
  left: -43px;
  top: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #000000;
  border: 3px solid #504b9f;
}
.timeline-experience .timeline-item::after {
  content: "";
  position: absolute;
  left: -35px;
  top: 7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}
.timeline-experience .timeline-company-name {
  color: #504b9f;
}
.timeline-experience .timeline-location {
  position: absolute;
  right: 0;
  top: 2px;
}
.timeline-experience .timeline-location .fa {
  margin-right: 8px;
}
.timeline-experience .timeline-job-info {
  position: absolute;
  left: -185px;
  top: 0;
}
.timeline-experience .timeline-job-info .timeline-title {
  color: #009688;
}
@media (max-width: 767px) {
  .timeline-experience .timeline-job-info {
    position: static;
    margin-bottom: 1rem;
  }
  
  /* New CSS to place date at the top */
  .timeline-item {
    display: flex;
    flex-direction: column;
  }
  
  .timeline-item > .timeline-job-info {
    order: -1;
  }
}

/* Container for Timeline */
.timeline-containertimeline {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
