.work_content_desc {
    width: 20.3125rem
}

@media(min-width:768px) {
    .work_content_desc {
        width: 95%;

      
    }
}

@media(min-width:1200px) {
    .work_content_desc {
        width: unset;
        
    }
}

.work .simple-masking_el {
    padding-bottom: 1.875rem;
    padding-top: 1.875rem
}

@media(min-width:768px) {
    .work .simple-masking_el {
        padding-bottom: 2.9375rem;
        padding-top: 2.9375rem
    }
}

.work_experience {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    padding-bottom: 15.625rem;
    padding-top: 12.5rem;
    position: relative
}

@media(min-width:768px) {
    .work_experience {
        padding-bottom: 36.7063492063vh;
        padding-top: 29.7619047619vh
    }
}

.work_history {
    position: relative;
    -webkit-transform: translateY(-3.125rem);
    transform: translateY(-3.125rem)
}

@media(min-width:768px) {
    .work_history {
        -webkit-transform: translateY(-3.75rem);
        transform: translateY(-3.75rem)
    }
}

.work_history_heading {
    margin-bottom: 1.875rem
}

@media(min-width:768px) {
    .work_history_heading {
        margin-bottom: 2.1875rem
    }
}

.work_history .heading-mask__now {
    border-top: 0 !important
}

.work__red .work_experience {
    margin-bottom: .1875rem
}

@media(min-width:1200px) {
    .work__red .work_content {
        width: 105%
    }
}

.work__red .work_content_desc {
    line-height: 103%;
    margin-top: -.375rem
}

@media(min-width:768px) {
    .work__red .work_content_desc {
        width: unset
    }
}

.work__red .heading-mask,
.work__red .heading-mask:last-child {
    border-color: #0d0d0d
}

.work__red .heading-mask__now {
    border-top: 1px solid #0d0d0d !important
}